.navbar {
    background-color: rgb(179, 180, 247);
}

.quem-somos {
    background-color: gray;
    color: white;
}

.margin {
    padding: 25px  0px;
}

body{
    font: 20px Arial , sans-serif
}

.parceiros {
    background-color: rgb(0, 56, 130);
}

.bg-footer {
    background-color: black;
    color:white;
    font-weight: bold;
}